settings: #get your app details from https://www.twilio.com/console
    tophone: '1XXXXXXXXXX'          #must be verified number during trial restrictions
    err_notification: '1XXXXXXXXXX' #must be verified number during trial restrictions
    fromphone: '1XXXXXXXXXX'        #use a from number that is purchased from twilio
    url: 'http://timlets.com/holdmusic?Bucket=com.twilio.music.ambient' 
    err_txt: 'error code: {0}'
    rate_lim_txt: '420 error! chill out, man!'


search_set:
    user: [] #list of user id strings (these are not fixed length) example:['0000000'] use get_ids.py to find id from @handle
    track: [] #list of lowercase search strings  to filter the users tweets
    not:  [] #list of excluded strings    
