twilio_set: #get your app details from https://www.twilio.com/console
    account: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    token: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

twitter_set: #get details from https://apps.twitter.com
    consumer_key: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    consumer_secret: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    access_token: '000000000-xxXXXXXxxxXXXXxxxxxxxxxxxxxxxxx'
    access_secret: 'xxXXXXxxx' 
